name: Run Python Code

on:
  schedule:
    - cron: '0 */24 * * *' # 24마다 시간 실행
  workflow_dispatch:

jobs:
  run-code:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential libffi-dev

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python script
        run: python crawler.py # 이곳에 실제 파이썬 파일명을 적어주세요.

      - name: Check for changed files
        id: changed-files
        run: |
          git diff --name-only --diff-filter=AM --cached | grep -q 'articles.json'
          echo "files_changed: $?" >> $GITHUB_ENV

      - name: Commit and push changes
        if: env.files_changed == '0'
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update articles.json"
          git push https://${{ secrets.GH_TOKEN }}@github.com/yeonjin1357/action_test.git
          
        env:
          pythonLocation: /opt/hostedtoolcache/Python/3.11.3/x64
          LD_LIBRARY_PATH: /opt/hostedtoolcache/Python/3.11.3/x64/lib

